$neutral-900: #062630; /* Asosiy fon va matn rangi */
$neutral-800: #073d52; /* Ikkinchi darajali fon */
$neutral-700: #084c66; /* Kartochkalar foni */
$neutral-600: #09688b; /* Chegaralar va urg'u */
$accent: #1e90ff; /* Asosiy urg'u (knopka va havolalar) */
$accent-hover: #007acc; /* Hover holati uchun urg'u */
$text-light: #ffffff; /* Matn uchun oq rang */
$text-muted: #b0c4de; /* Ikkinchi darajali matn rangi */
$text-hover: rgba(255, 100, 100, 1);
